<?xml version="1.0"?>
<config>
    <modules>
        <SH_Tireon>
            <version>0.1.2</version>
        </SH_Tireon>
    </modules>
    <frontend>
        <routers>
            <sh_tireon>
                <use>standard</use>
                <args>
                    <module>SH_Tireon</module>
                    <frontName>sh_tireon</frontName>
                </args>
            </sh_tireon>
        </routers>
    </frontend>
    <global>
        <helpers>
            <sh_tireon>
                <class>SH_Tireon_Helper</class>
            </sh_tireon>
        </helpers>
        <blocks>
            <sh_tireon>
                <class>SH_Tireon_Block</class>
            </sh_tireon>
        </blocks>
        <models>
            <sh_tireon>
                <class>SH_Tireon_Model</class>
                <resourceModel>sh_tireon_resource</resourceModel>
            </sh_tireon>
            <sh_tireon_resource>
                <class>SH_Tireon_Model_Resource</class>
                <entities></entities>
            </sh_tireon_resource>
        </models>
        <resources>
            <sh_tireon_setup>
                <setup>
                    <module>SH_Tireon</module>
                    <class>SH_Tireon_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sh_tireon_setup>
            <sh_tireon_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sh_tireon_write>
            <sh_tireon_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sh_tireon_read>
        </resources>
    </global>
</config>
